<title>My application</title>
  <h1>Hello, World!</h1>
  <p>You have to write the numbers you want in the first box <br>
  In the second box you have to write the number you want to search in the first box <br>
  In the third box you have to write your guess for the median of the numbers in the first box <br>
  In the fourth box you have to write your guess for the mean of the numbers in the first box <br>
  You have to write the numbers you want in the fifth box <br>
  In the sixth box you have to write your guess for the number of palindrome numbers in the fifth box</p>
    <p>Search result is {{result}}
    Median result is {{result2}}
    Mean result is {{result3}}
    Palindrome number result is {{result4}}</p>


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <textarea name="input5" rows="10" cols="30"></textarea>
        <textarea name="input6" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>

